params {

    // Shared Parameters
    output          = 'sequenoscope_results'
    force           = false
    input_batch_tsv = null //batch samples tabular text file
    help            = false
    mode            = null
    run_filter      = false
    run_analyze     = false
    run_plot        = false


    // Filter_ONT Module Parameters
    input_fastq          = ''
    input_summary        = ''
    output_prefix        = 'sample'
    classification       = 'all'
    minimum_channel      = 1
    maximum_channel      = 512
    minimum_duration     = 0
    maximum_duration     = 100
    minimum_start_time   = 0
    maximum_start_time   = 259200 // 72 hours
    minimum_q_score      = 0
    maximum_q_score      = 100
    minimum_length       = 0
    maximum_length       = 50000
    summarize            = false
    force                = false

    // Analyze Module Parameters 
    input_fastq          = ''
    input_fastq2         = ''
    fastq_dir            = ''
    input_reference      = ''
    sequencing_summary   = null
    sequencing_type      = 'SE'
    start_time           = 0
    end_time             = 100
    output_prefix        = 'sample'
    threads              = 1
    minimum_read_length  = 15
    maximum_read_length  = 0
    trim_front_bp        = 0
    trim_tail_bp         = 0
    quality_threshold    = 15
    minimum_coverage     = 1
    minimap2_kmer        = 15

    // Plot Module Parameters 
    test_dir            = ''
    control_dir         = ''
    output_dir          = 'plots'
    force               = false
    output_prefix       = 'sample'
    adaptive_sampling   = false
    violin_data_percent = 0.1
    time_bin_unit       = 'minutes'  
}

profiles {
    // Default: Uses whatever is in the user's local $PATH
    standard {
        process.conda = null 
    }

    // Activated only if user runs with '-profile conda'
    conda {
        conda.enabled = true
        process.conda = 'bioconda::sequenoscope=1.0.0'
    }
}